body{
    margin: 0;
    font-family: 'Poppins';
}

.header {
    /* Positioning */
    display: flex;
    align-items: center;
    position: fixed;

    /* Layout */
    height: 200px;
    width: 100%;

    /* Style */
    background-color:#E3CCAE;
    color: #000000;
    font-size: 60px;
    font-family: 'Poppins';

    border-width: 3px;
    border-color: #BBBBBB;
}

.logo img {
    /* Layout */
    height: 150px;
    width: 150px;

    padding-left: 50px;
}

.title {
    font-weight: bold;
    margin-left: 50px;
}

.scroll {
    padding-top: 250px;
    overflow: scroll;
}

.wrapper {
    margin: 0px;
    width: 100%;
    font-family: 'Poppins'; 
    font-weight: bold;
    margin-left: 10px;
}

.ColOne {
    font-size: 30px;
    width: 50%;
    float: left;
    text-align: center;
    display: flex;
}

.ColTwo{
    width: 50%;
    font-size: 30px;
    float: right;
    text-align: center;
}
.profilepic {
    /* Positioning */
    float: left;
    justify-content: center;
    text-align: center;
    
    /* Layout */
    width: 50%;
    font-size: 20px;
}

.streak {
    padding-top: 100px;
    width: 50%;
    font-size: 20px;
    float: right;
    text-align: left;
   
}

.actress {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.actresstitle {
    font-size: 24px;
    font-family: 'Poppins'; 
    font-weight: bold;
    margin-left: 10px;
}

.actress div {
    margin: 10px;
}

.actress img {
    width: 320px;
    height: 220px;
    object-fit: cover;
}

table {
    border-collapse: collapse;
    width: 98%;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    width: 14%
}

th {
    background-color: #ddd;
}

td {
    background-color: #fff;
    height: 400px;
}

td.current-day {
    background-color: #E3CCAE;
}

th.current-day {
    background-color: #262A56;
    color: #fff;
}

.add-exercise {
    display: flex;

    width: 230px;
    height: 50px;
    
    align-items:center;
    justify-content:center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40%;

    border-width: 4px;
    border-color: #E3CCAE;
    border-style: solid;

    color: white;
    background-color: #262A56;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}